<%-include('parts/navbar.ejs')%>
<div style="margin: 5%;display: flex; flex-wrap: wrap;">
  <% for(book of mybooks){%>
  <div class="card" style="width: 250px;height: 550px ;position: relative ;margin: 2%; " >
    <img src="<%=book.img%>" class="card-img-top" alt="..."  style="height: 300px;"/>
    <div class="card-body" >
      <h5 class="card-title  " style="white-space:nowrap;"><%=book.title%></h5>
      <p class="card-text"style="white-space:nowrap;">
   <%=book.author%>
      </p>
<button href="books/<%=book.id%>"  class="btn btn-primary">more details</button>
<form method="post" action="/mybooks/delete/<%=book._id%>">
    <input type="hidden" value="<%=book._id%>" name="id">
<button type="submit" class="btn btn-danger" style="margin:5px">delete this book</button></form>
<a href="/mybooks/update/<%=book._id%>">
<button  class="btn ">update this book</button></a>
</div>
</div>
  <%}%>

  



</div>  
<a href="/books/add" style="text-align: center;">
  <h1 style="background-color: aliceblue;">Add new book</h1></a>
<%-include('parts/footer.ejs') %>
