<%-include('parts/navbar.ejs')%>

<form method="post"  class="container" style="margin: 5%; padding: 0 15%;">
  <h1 style="text-align: center;">update </h1>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="<%=book.title%>">
      </div> 

      <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" name="author" placeholder="<%=book.author%>">
      </div> 
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" name="img" placeholder="<%=book.img%>">
      </div> 
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1"  name="date" placeholder="<%=book.date%>">
      </div>  

      <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" name="description" placeholder="<%=book.description%>">
      </div> 
    <button type="submit" class="btn btn-primary">update</button>
  </form>
<%-include('parts/footer.ejs') %>
